<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>客户管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" th:href="@{/static/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendor/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendor/linearicons/style.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendor/chartist/css/chartist-custom.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendor/datetimepicker/css/jquery.datetimepicker.css}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{/static/assets/css/main.css}">
    <link rel="stylesheet" th:href="@{/static/assets/css/page.css}">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" th:href="@{/static/assets/css/demo.css}">
    <!-- GOOGLE FONTS -->
    <!--<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">-->
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/static/assets/img/apple-icon.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/static/assets/img/favicon.png}">
    <style type="text/css">
        .form-inline{
            margin: 10px;
        }
        .panel .panel-query a,button,input,select {
            margin-right: 5px;
        }
    </style>
</head>
<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <nav th:replace="common/fragment :: navbar"></nav>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <nav th:replace="common/fragment :: sidebar-nav"></nav>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <!-- OVERVIEW -->
                <div class="panel panel-headline">
                    <!-- RECENT PURCHASES -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">客户管理</h3>
                            <div class="right">
                                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                                <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                            </div>
                        </div>

                        <form th:action="@{/admin}" method="get">
                            <div class="panel-query form-inline">
                                <a class="btn btn-primary" th:href="@{/account/regist}">录入</a>
                                <input type="text" name="keyword" class="form-control" th:value="${queryDTO.keyword}" placeholder="帐号、姓名..."/>
                                <select class="form-control risk_name" name="adminRoleId">
                                    <option value="">全部</option>
                                    <option th:each="role:${adminRoles}" th:text="${role?.showName}" th:id="${role?.id}" th:value="${role?.id}" th:selected="${queryDTO!=null&&queryDTO.adminRoleId==role.id}"></option>
                                </select>
                                <input type="text" class="form-control date" placeholder="开始时间" name="beginDate" th:value="${queryDTO.beginDate?.toString()}">
                                <input type="text" class="form-control date" placeholder="结束时间" name="endDate" th:value="${queryDTO.endDate?.toString()}">
                                <button type="submit" class="btn btn-primary">搜索</button>
                                <button type="button" class="btn btn-primary btn-print">打印</button>
                                <!--<a type="button" class="btn btn-primary btn-export" th:href="@{/admin/export}">导出</a>-->
                                <!--<button type="button" class="btn btn-primary btn-print" onclick="javascript:window.print();">打印</button>-->
                            </div>
                        </form>

                        <!--<button type="button" class="btn btn-primary btn-import">导入</button>-->
                        <!--<form id="uploadForm" enctype="multipart/form-data" method="post" style="display: inline">-->
                            <!--<input id="upfile" type="file" name="upfile" style="display: none">-->
                        <!--</form>-->

                        <div class="panel-body no-padding">
                            <table class="table table-striped " id="print">
                                <thead>
                                    <tr>
                                        <th>选择</th>
                                        <th>帐号</th>
                                        <th>姓名</th>
                                        <th>性别</th>
                                        <th>生日</th>
                                        <th>电话</th>
                                        <th>微信</th>
                                        <th>QQ</th>
                                        <th>邮箱</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="admin:${page.content}">
                                        <td><label><input type="checkbox" value="remember-me"></label></td>
                                        <td th:text="${admin?.accountNumber}"></td>
                                        <td th:text="${admin?.adminName}"></td>
                                        <td th:text="${admin.sex?.name}"></td>
                                        <td th:text="${admin?.birth}"></td>
                                        <td th:text="${admin?.phone}"></td>
                                        <td th:text="${admin?.weixin}"></td>
                                        <td th:text="${admin?.qqNumber}"></td>
                                        <td th:text="${admin?.email}"></td>
                                        <td>
                                            <a class="btn-sm btn-success" th:href="@{/admin/detail/}+${admin?.id}">更新</a>
                                            <!--<a class="btn-sm btn-primary" th:href="@{/admin/edit/}+${admin?.id}">修改</a>-->
                                            <a class="btn-sm btn-danger delete" th:value="${admin?.id}">删除</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--分页-->
                            <nav th:replace="common/page::paging"></nav>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> Last 24 hours</span></div>
                                <div class="col-md-6 text-right"><a href="#" class="btn btn-primary">查看所有</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- END RECENT PURCHASES -->
                </div>
                <!-- END OVERVIEW -->
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <!--<p class="copyright">&copy; 2017 <a href="#" target="_blank">Theme I Need</a>. All Rights Reserved. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>-->
        </div>
    </footer>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script th:src="@{/static/assets/vendor/jquery/jquery.js}"></script>
<script th:src="@{/static/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/static/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js}"></script>
<script th:src="@{/static/assets/vendor/chartist/js/chartist.min.js}"></script>
<script th:src="@{/static/assets/scripts/klorofil-common.js}"></script>
<script th:src="@{/static/assets/vendor/datetimepicker/js/jquery.datetimepicker.full.js}"></script>
<script th:src="@{/static/assets/utils/fetchUtils.js}"></script>
<script th:src="@{/static/assets/vendor/print/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/static/assets/vendor/print/jquery.jqprint-0.3.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var ctx = /*[[@{/}]]*/;
    $('.date').datetimepicker({
        lang:"ch", //语言选择中文 注：旧版本 新版方法：$.datetimepicker.setLocale('ch');
        format:"Y-m-d",      //格式化日期
        timepicker:false,    //关闭时间选项
        yearStart:2000,     //设置最小年份
        yearEnd:2050,        //设置最大年份
        todayButton:true    //关闭选择今天按钮
    });

    //删除客户
    $(".delete").click(function () {
        $.postParams(ctx+"admin/delete/"+$(this).attr("value"),"",function (e) {
            if(e.success){
                alert(e.data);
                window.location.reload();
            }else{
                alert(e.message);
            }
        });
    });

    $(".btn-print").click(function () {
        $("#print").jqprint();
    });

    //导入excel
    $(".btn-import").bind("click",function (e) {
        $(this).next().find("input[type='file']").trigger("click").unbind("change").bind("change",function () {
            if (!this.value) return;
            if(checkData()){
                $(this).parent().ajaxSubmit({
                    url: ctx + "admin/import",
                    type: "post",
                    beforeSend: function() {
                        console.log("准备上传");
                    },
                    success:function (result) {
                        if (result.success){
                            alert("上传成功");
                            history.go(0);
                        }else{
                            alert(result.message);
                        }
                    }, error: function(error) {
                        alert("出错啦");
                    }
                })
            }

        })
    })

</script>
</body>
</html>