<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<head>
    <meta charset="UTF-8">
    <title>摄像机管理</title>

    <link rel="stylesheet" th:href="@{/static/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendor/datetimepicker/css/jquery.datetimepicker.css}">
    <style type="text/css">
        .item-name{
            display: inline-block;
            min-width: 120px;
        }

        .form-inline .item-content{
            width: 50%;
        }
        .form-inline{
            margin: 5px;
        }
    </style>
</head>
<body>

<div id="wrapper">
    <!--<nav th:replace="common/fragment :: sidebar"></nav>-->
    <div class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">摄像机管理</h3>
                            </div>

                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>摄像机</th>
                                        <th>通道号</th>
                                        <th>码流类型</th>
                                        <th>转码状态</th>
                                        <th style="text-align: center">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item:${page.content}">
                                        <td th:text="${item.showName}" class="td-ellipsis" style="width: 25%"></td>
                                        <td th:text="${item.channel}" class="td-ellipsis" style="width: 20%"></td>
                                        <td th:text="${item.streamType?.name}" class="td-ellipsis" style="width: 20%"></td>
                                        <td th:text="${item.transcoding?'正在转码':'已停止'}" class="td-ellipsis" style="width: 20%"></td>
                                        <td style="width: 15%;text-align: center">
                                            <a class="btn-sm btn-success detail" th:value="${item.id}" th:href="@{/video/detail/}+${item.id}">查看</a>
                                            <a class="btn-sm btn-primary transcoding" th:value="${item.id}" th:text="${item.transcoding?'停止':'转码'}">转码</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--分页-->
                                <nav th:replace="common/page::paging"></nav>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script th:src="@{/static/assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/assets/utils/fetchUtils.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var ctx = /*[[@{/}]]*/;
    $(".transcoding").click(function () {
        if($(this).html()=="转码"){
            $.getData(ctx+"video/transcoding/"+$(this).attr("value"),function (e) {
                if(e.success){
                    window.location.reload();
                }else{
                    alert(e.message)
                }
            });
        }else{
            $.getData(ctx+"video/transcoding/stop/"+$(this).attr("value"),function (e) {
                if(e.success){
                    window.location.reload();
                }else{
                    alert(e.message)
                }
            });
        }

    });


</script>

</body>
</html>