<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<head>
    <meta charset="UTF-8">
    <title>服务器配置</title>

    <link rel="stylesheet" th:href="@{/static/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendor/datetimepicker/css/jquery.datetimepicker.css}">
    <style type="text/css">
        .item-name{
            display: inline-block;
            min-width: 120px;
        }

        .form-inline .item-content{
            width: 50%;
        }
        .form-inline{
            margin: 5px;
        }
    </style>
</head>
<body>

<div id="wrapper">
    <!--<nav th:replace="common/fragment :: sidebar"></nav>-->
    <div class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">服务器配置</h3>
                            </div>

                            <div class="panel-body">
                                <ul>
                                    <li class="form-inline">
                                        <span class="item-name">nginxPath</span>
                                        <input type="text" class="form-control item-content nginxPath" placeholder="D:/app/nginx-1.12.2/html" th:value="${videoConfig.nginxPath}">
                                    </li>
                                    <li class="form-inline">
                                        <span class="item-name">nginxIp</span>
                                        <input type="text" class="form-control item-content nginxIp" placeholder="http://localhost:20000" th:value="${videoConfig.nginxIp}">
                                    </li>
                                    <li class="form-inline">
                                        <button type="button" class="btn btn-default close-window">关闭</button>
                                        <button type="button" class="btn btn-primary save">保存</button>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script th:src="@{/static/assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/assets/utils/fetchUtils.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var ctx = /*[[@{/}]]*/;
    $('.save').click(function (e) {

        var videoConfig = new Object();
        videoConfig.nginxPath = $(".nginxPath").val();
        videoConfig.nginxIp = $(".nginxIp").val();

        if(!videoConfig.nginxPath
            ||!videoConfig.nginxIp){
            alert("您还有未填写的内容");
            return;
        }
        $.postParams(ctx+"video/conf",videoConfig,function (e) {
            if(e.success){
                alert("保存成功");
                window.location.href = ctx+"video/conf";
            }
        })
    });

    $(".close-window").click(function (e) {
        window.history.go(-1);
    })

</script>

</body>
</html>