<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<head>
    <meta charset="UTF-8">
    <title>添加摄像机</title>

    <link rel="stylesheet" th:href="@{/static/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendor/datetimepicker/css/jquery.datetimepicker.css}">
    <style type="text/css">
        .item-name{
            display: inline-block;
            min-width: 120px;
        }

        .form-inline .item-content{
            width: 50%;
        }
        .form-inline{
            margin: 5px;
        }
    </style>
</head>
<body>

<div id="wrapper">
    <!--<nav th:replace="common/fragment :: sidebar"></nav>-->
    <div class="main">
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">添加摄像机</h3>
                            </div>

                            <div class="panel-body">
                                <ul>
                                    <li class="form-inline">
                                        <span class="item-name">摄像机</span>
                                        <input type="text" class="form-control item-content showName" placeholder="av1">
                                    </li>
                                    <li class="form-inline">
                                        <span class="item-name">用户名</span>
                                        <input type="text" class="form-control item-content username" placeholder="admin">
                                    </li>
                                    <li class="form-inline">
                                        <span class="item-name">密码</span>
                                        <input type="text" class="form-control item-content password" placeholder="admin">
                                    </li>
                                    <li class="form-inline">
                                        <span class="item-name">视频源</span>
                                        <input type="text" class="form-control item-content rtspIp" placeholder="192.168.0.100:554">
                                    </li>
                                    <li class="form-inline">
                                        <span class="item-name">通道号</span>
                                        <input type="text" class="form-control item-content channel" placeholder="ch1">
                                    </li>
                                    <li class="form-inline">
                                        <span class="item-name">码流类型</span>
                                        <select class="form-control item-content streamType" >
                                            <option th:each="s:${streamType}" th:value="${s?.toString()}" th:text="${s.name}" th:id="${s?.id}"></option>
                                        </select>
                                    </li>
                                    <li class="form-inline">
                                        <button type="button" class="btn btn-default close-window">关闭</button>
                                        <button type="button" class="btn btn-primary save">保存</button>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script th:src="@{/static/assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/assets/utils/fetchUtils.js}"></script>

<script type="text/javascript" th:inline="javascript">
    var ctx = /*[[@{/}]]*/;
    $('.save').click(function (e) {

        var video = new Object();
        video.showName = $(".showName").val();
        video.username = $(".username").val();
        video.password = $(".password").val();
        video.rtspIp = $(".rtspIp").val();
        video.channel = $(".channel").val();
        video.streamType = $(".streamType").val();

        if(!video.username
            ||!video.username
            ||!video.password
            ||!video.rtspIp
            ||!video.channel
            ||!video.streamType){
            alert("您还有未填写的内容");
            return;
        }
        console.log(video);
        $.postJson(ctx+"video/add",video,function (e) {
            if(e.success){
                window.location.href = ctx+"video/list";
            }
        })
    });

    $(".close-window").click(function (e) {
        window.history.go(-1);
    })

</script>

</body>
</html>